<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 加载CXF框架配置 -->
    <import resource="classpath*:META-INF/cxf/cxf.xml" />
    <import resource="classpath*:META-INF/cxf/cxf-extension-soap.xml" />
    <import resource="classpath*:META-INF/cxf/cxf-servlet.xml" />

    <!-- 加载dashBoard系统Spring配置 -->
    <import resource="classpath:/config/spring/spring-common.xml"/>

    <!-- job -->
    <import resource="spring-schedule.xml"/>

    <!-- 加载WebService服务配置信息-->
    <import resource="rest-services.xml"/>

</beans>