<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.AttachmentMapper">

    <!--<resultMap id="BaseResultMap" type="com.xrender.cloud.sys.pojo.Attachment" >
        <id column="ATTACHMENT_SID" property="attachmentSid" jdbcType="BIGINT" />

        <result column="ATTACHMENT_NAME" property="attachmentName" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_URL" property="attachmentUrl" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_LOCATION" property="attachmentLocation" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_TYPE" property="attachmentType" jdbcType="VARCHAR" />
        <result column="ORAGIN_NAME" property="oraginName" jdbcType="VARCHAR" />
        <result column="EXTEND_NAME" property="extendName" jdbcType="VARCHAR" />
        <result column="ATTACHMENT_SIZE" property="attachmentSize" jdbcType="DECIMAL" />
        <result column="UPLOAD_TIME" property="uploadTime" jdbcType="TIMESTAMP" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />

        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
        <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
        <result column="VERSION" property="version" jdbcType="BIGINT" />
    </resultMap>-->



</mapper>