<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.CompanyinfoMapper">

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.Companyinfo">

        <id column="companyid" property="companyid" jdbcType="BIGINT"/>
        <result column="company_name" property="company_name" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="contacts" property="contacts" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="addr_lon" property="addr_lon" jdbcType="VARCHAR"/>
        <result column="addr_lat" property="addr_lat" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Example_Where_Clause" >
        <trim prefix="where" prefixOverrides="and|or" >

            <if test="condition.companyid != null" >
                and companyid = ${condition.companyid}
            </if>
            <if test="condition.company_name != null" >
                and company_name = ${condition.company_name}
            </if>
            <if test="condition.address != null" >
                and address = #{condition.address}
            </if>
            <if test="condition.contacts != null" >
                and contacts = #{condition.contacts}
            </if>
            <if test="condition.phone != null" >
                and phone = #{condition.phone}
            </if>
            <if test="condition.addr_lon!=null">
                and addr_lon=#{condition.addr_lon}
            </if>
            <if test="condition.addr_lat!=null">
                and addr_lat=#{condition.addr_lat}
            </if>


        </trim>
    </sql>

    <sql id="Base_Column_List" >
        companyid, company_name,address,contacts,phone,addr_lon,addr_lat
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.alfa.web.util.pojo.Criteria" >

        select

        <if test="distinct" >
            distinct
        </if>

        <include refid="Base_Column_List" />

        from Companyinfo

        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>


    </select>



</mapper>