<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.SysConfigMapper">

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.SysConfig">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="CONFIG_NAME" property="configName" jdbcType="VARCHAR"/>
        <result column="CONFIG_KEY" property="configKey" jdbcType="VARCHAR"/>
        <result column="CONFIG_VALUE" property="configValue" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
        <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP"/>
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.configName != null">
                and configName = #{condition.configName}
            </if>
            <if test="condition.configNameLike != null">
                and configName like concat('%',
                #{condition.configNameLike}, '%')
            </if>
            <if test="condition.configKeyLike != null">
                and configKey like concat('%',
                #{condition.configKeyLike}, '%')
            </if>
            <if test="condition.configKey != null">
                and configKey = #{condition.configKey}
            </if>
            <if test="condition.configValue != null">
                and configValue = #{condition.configValue}
            </if>
            <if test="condition.description != null">
                and description = #{condition.description}
            </if>
            <if test="condition.createdBy != null">
                and createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null">
                and createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null">
                and updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null">
                and updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null">
                and version = #{condition.version}
            </if>
        </trim>
    </sql>

    <sql id="Base_Column_List">
        Id, configName, configKey, configValue, description,createdBy, createdDt,
        updatedBy, updatedDt, version
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.alfa.web.util.pojo.Criteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sysconfig
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit"/>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sysconfig
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sysconfig
        where id = #{id}
    </delete>

    <delete id="deleteByParams" parameterType="com.alfa.web.util.pojo.Criteria">
        delete from sysconfig
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>

    <insert id="insertSysConfig" parameterType="com.alfa.web.pojo.SysConfig">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sysconfig (configName, configKey, configValue, description,
        createdBy, createdDt, updatedBy, updatedDt, version)
        values (#{configName}, #{configKey}, #{configValue}, #{description},
        #{createdBy}, #{createdDt}, #{updatedBy}, #{updatedDt}, #{version})
    </insert>

    <insert id="insertSelective" parameterType="com.alfa.web.pojo.SysConfig">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sysconfig
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="configName != null">
                configName,
            </if>
            <if test="configKey != null">
                configKey,
            </if>
            <if test="configValue != null">
                configValue,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="createdDt != null">
                createdDt,
            </if>
            <if test="updatedBy != null">
                updatedBy,
            </if>
            <if test="updatedDt != null">
                updatedDt,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="configName != null">
                #{configName},
            </if>
            <if test="configKey != null">
                #{configKey},
            </if>
            <if test="configValue != null">
                #{configValue},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdDt != null">
                #{createdDt},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedDt != null">
                #{updatedDt},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
    </insert>

    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria" resultType="java.lang.Integer">
        select count(*) from sysconfig
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <update id="updateByParamsSelective" parameterType="map">
        update sysconfig
        <set>
            <if test="record.id != null">
                id = #{record.configSid},
            </if>
            <if test="record.configName != null">
                configName = #{record.configName},
            </if>
            <if test="record.configKey != null">
                configKey = #{record.configKey},
            </if>
            <if test="record.configValue != null">
                configValue = #{record.configValue},
            </if>
            <if test="record.description != null">
                description = #{record.description},
            </if>
            <if test="record.createdBy != null">
                createdBy = #{record.createdBy},
            </if>
            <if test="record.createdDt != null">
                createdDt = #{record.createdDt},
            </if>
            <if test="record.updatedBy != null">
                updatedBy = #{record.updatedBy},
            </if>
            <if test="record.updatedDt != null">
                updatedDt = #{record.updatedDt},
            </if>
            <if test="record.version != null">
                version = #{record.version},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByParams" parameterType="map">
        update sysconfig

        set
        configName = #{record.configName},
        configKey = #{record.configKey},
        configValue = #{record.configValue},
        description = #{record.description},
        createdBy = #{record.createdBy},
        createdDt = #{record.createdDt},
        updatedBy = #{record.updatedBy},
        updatedDt = #{record.updatedDt},
        version = #{record.version}

        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>

    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.alfa.web.pojo.SysConfig">
        update sysconfig
        <set>
            <if test="configName != null">
                configName = #{configName},
            </if>
            <if test="configKey != null">
                configKey = #{configKey},
            </if>
            <if test="configValue != null">
                configValue = #{configValue},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="createdBy != null">
                createdBy = #{createdBy},
            </if>
            <if test="createdDt != null">
                createdDt = #{createdDt},
            </if>
            <if test="updatedBy != null">
                updatedBy = #{updatedBy},
            </if>
            <if test="updatedDt != null">
                updatedDt = #{updatedDt},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.alfa.web.pojo.SysConfig">
        update sysconfig
        set configName = #{configName},
        configKey = #{configKey},
        configValue = #{configValue},
        description = #{description},
        createdBy = #{createdBy},
        createdDt = #{createdDt},
        updatedBy = #{updatedBy},
        updatedDt = #{updatedDt},
        version = #{version}
        where id = #{id}
    </update>

</mapper>