<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.SysRole" >
        <id column="Id" property="Id" jdbcType="BIGINT" />
        <result column="role_name" property="role_name" jdbcType="VARCHAR" />
        <result column="types" property="types" jdbcType="VARCHAR" />
        <result column="typesname" property="typesname" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="statusname" property="statusname" jdbcType="VARCHAR"/>
        <result column="roleDesc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
        <result column="createdDt" property="createdDt" jdbcType="TIMESTAMP" />
        <result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
        <result column="updatedDt" property="updatedDt" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <trim prefix="where" prefixOverrides="and|or" >
            <if test="condition.Id != null" >
                and A.Id in (${condition.Id})
            </if>
            <if test="condition.role_name != null" >
                and A.role_name != ${condition.role_name}
            </if>
            <if test="condition.roleNameLike != null" >
                and A.role_name like concat('%', #{condition.roleNameLike},'%')
            </if>
            <if test="condition.roleDesc != null" >
                and A.roleDesc = #{condition.roleDesc}
            </if>
            <if test="condition.status != null" >
                and A.status = #{condition.status}
            </if>
            <if test="condition.statusname != null" >
                and A.statusname = #{condition.statusname}
            </if>
            <if test="condition.types != null" >
                and A.types = #{condition.types}
            </if>
            <if test="condition.typesname != null" >
                and A.typesname = #{condition.typesname}
            </if>
            <if test="condition.createdBy != null" >
                and A.createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null" >
                and A.createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null" >
                and A.updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null" >
                and A.updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null" >
                and A.version = #{condition.version}
            </if>
        </trim>
    </sql>

    <sql id="Base_Column_List" >
        A.Id, A.role_name,A.types,A.typesname,A.status,A.statusname,A.roleDesc, A.createdBy, A.createdDt, A.updatedBy, A.updatedDt,
        A.version
    </sql>

    <insert id="insert" parameterType="com.alfa.web.pojo.SysRole" >
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into SysRole(role_name, types, typesname,status,statusname,roleDesc,createdBy, createdDt,
        updatedBy, updatedDt, version)
        values (#{role_name}, #{types}, #{typesname},#{status},#{statusname},#{roleDesc}, #{createdBy}, #{createdDt},
        #{updatedBy}, #{updatedDt}, #{version})
    </insert>


    <insert id="insertSelective" parameterType="com.alfa.web.pojo.SysRole" >
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into SysRole
        <trim prefix="(" suffix=")" suffixOverrides="," >

            <if test="role_name != null" >
                role_name,
            </if>
            <if test="types != null" >
                types,
            </if>
            <if test="typesname != null" >
                typesname,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="statusname != null" >
                statusname,
            </if>
            <if test="roleDesc != null" >
                roleDesc,
            </if>
            <if test="createdBy != null" >
                createdBy,
            </if>
            <if test="createdDt != null" >
                createdDt,
            </if>
            <if test="updatedBy != null" >
                updatedBy,
            </if>
            <if test="updatedDt != null" >
                updatedDt,
            </if>
            <if test="version != null" >
                version,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="role_name != null" >
                #{role_name},
            </if>
            <if test="types != null" >
                #{types},
            </if>
            <if test="typesname != null" >
                #{typesname},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            <if test="statusname != null" >
                #{statusname},
            </if>
            <if test="roleDesc != null" >
                #{roleDesc},
            </if>
            <if test="createdBy != null" >
                #{createdBy},
            </if>
            <if test="createdDt != null" >
                #{createdDt},
            </if>
            <if test="updatedBy != null" >
                #{updatedBy},
            </if>
            <if test="updatedDt != null" >
                #{updatedDt},
            </if>
            <if test="version != null" >
                #{version},
            </if>
        </trim>
    </insert>

    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria" resultType="java.lang.Integer" >
        select count(*) from SysRole A
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.xrender.cloud.common.pojo.Criteria" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        ,group_concat(CAST(C.MODULE_SID as char)) as MODULE_IDS
        from sys_m_role A
        <if test="condition.userSid != null" >
            inner join SYS_M_USER_ROLE B
            on A.ROLE_SID = B.ROLE_SID and B.USER_SID = #{condition.userSid:DECIMAL}
        </if>
        LEFT JOIN sys_m_role_module C ON C.ROLE_SID=A.ROLE_SID
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        GROUP BY A.ROLE_SID
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit" />
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from SysRole A
        where A.Id = #{Id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from SysRole
        where Id = #{Id}
    </delete>

    <delete id="deleteByParams" parameterType="com.alfa.web.util.pojo.Criteria" >
        delete from SysRole A
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <update id="updateByParamsSelective" parameterType="map" >
        update SysRole A
        <set >
            <if test="record.Id != null" >
                Id = #{record.Id},
            </if>
            <if test="record.role_name != null" >
                role_name = #{record.role_name},
            </if>
            <if test="record.roleDesc != null" >
                roleDesc = #{record.roleDesc},
            </if>
            <if test="record.status != null" >
                status = #{record.status},
            </if>
            <if test="record.statusname != null" >
                statusname = #{record.statusname},
            </if>
            <if test="record.types != null" >
                types = #{record.types},
            </if>
            <if test="record.typesname != null" >
                typesname = #{record.typesname},
            </if>
            <if test="record.createdBy != null" >
                createdBy = #{record.createdBy},
            </if>
            <if test="record.createdDt != null" >
                createdDt = #{record.createdDt},
            </if>
            <if test="record.updatedBy != null" >
                updatedBy = #{record.updatedBy},
            </if>
            <if test="record.updatedDt != null" >
                updatedDt = #{record.updatedDt},
            </if>
            <if test="record.version != null" >
                version = #{record.version},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByParams" parameterType="map" >
        update sys_m_role A
        set
        role_name = #{record.role_name},
        roleDesc = #{record.roleDesc},
        status = #{record.status},
        statusname = #{record.statusname},
        types = #{record.types},
        typesname = #{record.typesname},
        createdBy = #{record.createdBy},
        createdDt = #{record.createdDt},
        updatedBy = #{record.updatedBy},
        updatedDt = #{record.updatedDt},
        version = #{record.version}
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.alfa.web.pojo.SysRole" >
        update SysRole
        <set >
            <if test="record.Id != null" >
                Id = #{record.Id},
            </if>
            <if test="role_name != null" >
                role_name = #{role_name},
            </if>
            <if test="roleDesc != null" >
                roleDesc = #{roleDesc},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="statusname != null" >
                statusname = #{statusname},
            </if>
            <if test="types != null" >
                types = #{types},
            </if>
            <if test="typesname != null" >
                typesname = #{typesname},
            </if>
            <if test="createdBy != null" >
                createdBy = #{createdBy},
            </if>
            <if test="createdDt != null" >
                createdDt = #{createdDt},
            </if>
            <if test="updatedBy != null" >
                updatedBy = #{updatedBy},
            </if>
            <if test="updatedDt != null" >
                updatedDt = #{updatedDt},
            </if>
            <if test="version != null" >
                version = #{version},
            </if>
        </set>
        where Id = #{Id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.alfa.web.pojo.SysRole" >
        update SysRole
        set role_name = #{role_name},
        types = #{types},
        typesname=#{typesname}
        status = #{status},
        statusname=#{statusname},
        roleDesc=#{roleDesc}
        createdBy = #{createdBy},
        createdDt = #{createdDt},
        updatedBy = #{updatedBy},
        updatedDt = #{updatedDt},
        version = #{version}
        where Id = #{Id}
    </update>

</mapper>