<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.VerifyCodeMapper" >

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.VerifyCode" >
        <id column="verifySid" property="verifySid" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="boundAccount" property="boundAccount" jdbcType="VARCHAR" />
        <result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
        <result column="createdDt" property="createdDt" jdbcType="TIMESTAMP" />
        <result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
        <result column="updatedDt" property="updatedDt" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <trim prefix="where" prefixOverrides="and|or" >
            1=1
            <if test="condition.verifySid!=null">
                and verifySid=#{condition.verifySid}
            </if>
            <if test="condition.code != null" >
                and code = #{condition.code}
            </if>
            <if test="condition.type != null" >
                and type = #{condition.type}
            </if>
            <if test="condition.boundAccount != null" >
                and boundAccount = #{condition.boundAccount}
            </if>
            <if test="condition.createdBy != null" >
                and createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null" >
                and createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null" >
                and updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null" >
                and updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null" >
                and version = #{condition.version}
            </if>
        </trim>
    </sql>

    <sql id="Base_Column_List" >
        verifySid, code, type, boundAccount, createdBy, createdDt, updatedBy, updatedDt,
        version
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.alfa.web.util.pojo.Criteria" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from VerifyCode
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit" />
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from VerifyCode
        where VERIFY_SID = #{verifySid}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from VerifyCode
        where VERIFY_SID = #{verifySid}
    </delete>

    <delete id="deleteByParams" parameterType="com.alfa.web.util.pojo.Criteria" >
        delete from VerifyCode
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.alfa.web.pojo.VerifyCode" >

        <selectKey keyProperty="verifySid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>

        insert into VerifyCode (code, type, boundAccount, createdBy, createdDt,
        updatedBy, updatedDt, version)
        values (#{code}, #{type}, #{boundAccount}, #{createdBy}, #{createdDt},
        #{updatedBy}, #{updatedDt}, #{version})
    </insert>


    <insert id="insertSelective" parameterType="com.alfa.web.pojo.VerifyCode" >
        <selectKey keyProperty="verifySid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into VerifyCode
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="code != null" >
                code,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="boundAccount != null" >
                boundAccount,
            </if>
            <if test="createdBy != null" >
                createdBy,
            </if>
            <if test="createdDt != null" >
                createdDt,
            </if>
            <if test="updatedBy != null" >
                updatedBy,
            </if>
            <if test="updatedDt != null" >
                updatedDt,
            </if>
            <if test="version != null" >
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="code != null" >
                #{code},
            </if>
            <if test="type != null" >
                #{type},
            </if>
            <if test="boundAccount != null" >
                #{boundAccount},
            </if>
            <if test="createdBy != null" >
                #{createdBy},
            </if>
            <if test="createdDt != null" >
                #{createdDt},
            </if>
            <if test="updatedBy != null" >
                #{updatedBy},
            </if>
            <if test="updatedDt != null" >
                #{updatedDt},
            </if>
            <if test="version != null" >
                #{version},
            </if>
        </trim>
    </insert>

    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria" resultType="java.lang.Integer" >
        select count(*) from VerifyCode
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByParamsSelective" parameterType="map" >
        update VerifyCode
        <set >
            <if test="record.verifySid != null" >
                verifySid = #{record.verifySid},
            </if>
            <if test="record.code != null" >
                code = #{record.code},
            </if>
            <if test="record.type != null" >
                type = #{record.type},
            </if>
            <if test="record.boundAccount != null" >
                boundAccount = #{record.boundAccount},
            </if>
            <if test="record.createdBy != null" >
                createdBy = #{record.createdBy},
            </if>
            <if test="record.createdDt != null" >
                createdDt = #{record.createdDt},
            </if>
            <if test="record.updatedBy != null" >
                updatedBy = #{record.updatedBy},
            </if>
            <if test="record.updatedDt != null" >
                updatedDt = #{record.updatedDt},
            </if>
            <if test="record.version != null" >
                version = #{record.version},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByParams" parameterType="map" >
        update VerifyCode
        set verifySid = #{record.verifySid},
        code = #{record.code},
        type = #{record.type},
        boundAccount = #{record.boundAccount},
        createdBy = #{record.createdBy},
        createdDt = #{record.createdDt},
        updatedBy = #{record.updatedBy},
        updatedDt = #{record.updatedDt},
        version = #{record.version}
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.alfa.web.pojo.VerifyCode" >
        update VerifyCode
        <set >
            <if test="code != null" >
                code = #{code},
            </if>
            <if test="type != null" >
                type = #{type},
            </if>
            <if test="boundAccount != null" >
                boundAccount = #{boundAccount},
            </if>
            <if test="createdBy != null" >
                createdBy = #{createdBy},
            </if>
            <if test="createdDt != null" >
                createdDt = #{createdDt},
            </if>
            <if test="updatedBy != null" >
                updatedBy = #{updatedBy},
            </if>
            <if test="updatedDt != null" >
                updatedDt = #{updatedDt},
            </if>
            <if test="version != null" >
                version = #{version},
            </if>
        </set>
        where verifySid = #{verifySid}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.alfa.web.pojo.VerifyCode" >
        update VerifyCode
        set code = #{code},
        type = #{type},
        boundAccount = #{boundAccount},
        createdBy = #{createdBy},
        createdDt = #{createdDt},
        updatedBy = #{updatedBy},
        updatedDt = #{updatedDt},
        version = #{version}
        where verifySid = #{verifySid}
    </update>

</mapper>