<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.weixin_usersMapper">

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.td_weixin_users">

        <id column="Id" property="id" jdbcType="BIGINT"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>

        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="mobiletoken" property="mobiletoken" jdbcType="VARCHAR"/>

        <result column="createdBy" property="createdBy" jdbcType="VARCHAR"/>
        <result column="createdDt" property="createdDt" jdbcType="TIMESTAMP"/>
        <result column="updatedBy" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updatedDt" property="updatedDt" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="BIGINT"/>

        <result column="userid" property="userid" jdbcType="BIGINT"/>

    </resultMap>

    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.mobile!=null">
                and mobile=#{condition.mobile}
            </if>
            <if test="condition.mobiletoken!=null">
                and mobiletoken=#{condition.mobiletoken}
            </if>
            <if test="condition.Id != null">
                and Id = #{condition.Id}
            </if>
            <if test="condition.openid != null">
                and openid = #{condition.openid}
            </if>
            <if test="condition.headimgurl != null">
                and headimgurl = #{condition.headimgurl}
            </if>
            <if test="condition.state != null">
                and state = #{condition.state}
            </if>
            <if test="condition.createdBy != null">
                and createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null">
                and createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null">
                and updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null">
                and updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null">
                and version = #{condition.version}
            </if>
            <if test="condition.userid != null">
                and userid = #{condition.userid}
            </if>
        </trim>
    </sql>

    <sql id="Base_Column_List">
        Id, openid, headimgurl, state, userid,createdBy, createdDt,
        updatedBy, updatedDt, version,mobile,mobiletoken
    </sql>

    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria" resultType="java.lang.Integer">
        select count(*) from td_weixin_users
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <delete id="deleteByParams" parameterType="com.alfa.web.util.pojo.Criteria">
        delete from td_weixin_users
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from td_weixin_users
        where id = #{id}
    </delete>

    <insert id="insertSelective" parameterType="com.alfa.web.pojo.td_weixin_users">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into td_weixin_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="userid != null">
                userid,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="headimgurl!=null">
                headimgurl,
            </if>
            <if test="state!=null">
                state,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="createdDt != null">
                createdDt,
            </if>
            <if test="updatedBy != null">
                updatedBy,
            </if>
            <if test="updatedDt != null">
                updatedDt,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="mobile!=null">
                mobile,
            </if>
            <if test="mobiletoken!=null">
                mobiletoken
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="userid != null">
                #{userid},
            </if>
            <if test="openid != null">
                #{openid},
            </if>
            <if test="headimgurl!=null">
                #{headimgurl},
            </if>
            <if test="state!=null">
                #{state},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdDt != null">
                #{createdDt},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedDt != null">
                #{updatedDt},
            </if>
            <if test="version != null">
                #{version},
            </if>
            <if test="mobile!=null">
                #{mobile},
            </if>
            <if test="mobiletoken!=null">
                #{mobiletoken}
            </if>
        </trim>
    </insert>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.alfa.web.util.pojo.Criteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from td_weixin_users
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit"/>
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from td_weixin_users
        where id = #{id}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.alfa.web.pojo.td_weixin_users">
        update td_weixin_users
        <set>
            <if test="headimgurl!=null">
                headimgurl=#{headimgurl},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
            <if test="userid != null">
                userid=#{userid},
            </if>
            <if test="createdBy != null">
                createdBy=#{createdBy},
            </if>
            <if test="createdDt != null">
                createdDt=#{createdDt},
            </if>
            <if test="updatedBy != null">
                updatedBy=#{updatedBy},
            </if>
            <if test="updatedDt != null">
                updatedDt=#{updatedDt},
            </if>
            <if test="version != null">
                version=#{version},
            </if>
            <if test="mobile != null">
                mobile=#{mobile},
            </if>
            <if test="mobiletoken != null">
                mobiletoken=#{mobiletoken}
            </if>
        </set>
        where openid=#{openid}
    </update>


</mapper>