<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.money.activitiesorderMapper">


    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.activitiesorder">

        <id column="Id" property="id" jdbcType="BIGINT"/>

        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="orderid" property="orderid" jdbcType="BIGINT"/>
        <result column="activitiesid" property="activitiesid" jdbcType="BIGINT"/>
        <result column="orderno" property="orderno" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>

        <result column="isfollow" property="isfollow" jdbcType="VARCHAR"/>
        <result column="issubmit" property="issubmit" jdbcType="VARCHAR"/>
        <result column="isfinish" property="isfinish" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="visible" property="visible" jdbcType="VARCHAR"/>

        <result column="createdBy" property="createdBy" jdbcType="VARCHAR"/>
        <result column="createdDt" property="createdDt" jdbcType="TIMESTAMP"/>
        <result column="updatedBy" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updatedDt" property="updatedDt" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="BIGINT"/>

    </resultMap>

    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">

            <if test="condition.mobileLike != null">
                and A.mobile like concat('%', #{condition.mobileLike}, '%')
            </if>
            <if test="condition.mobile!=null">
                and A.mobile=#{condition.mobile}
            </if>
            <if test="condition.idlist!=null">
                and A.id in
                <foreach collection="condition.idlist" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.activitiesidlist!=null">
                and A.activitiesid in
                <foreach collection="condition.activitiesidlist" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.visible!=null">
                and A.visible=#{condition.visible}
            </if>
            <if test="condition.status!=null">
                and A.status = #{condition.status}
            </if>
            <if test="condition.orderno!=null">
                and A.orderno = #{condition.orderno}
            </if>
            <if test="condition.openid!=null">
                and A.openid = #{condition.openid}
            </if>
            <if test="condition.orderid!=null">
                and A.orderid=#{condition.orderid}
            </if>
            <if test="condition.activitiesid!=null">
                and A.activitiesid=#{condition.activitiesid}
            </if>

            <if test="condition.isfollow!=null">
                and A.isfollow=#{condition.isfollow}
            </if>
            <if test="condition.issubmit!=null">
                and A.issubmit=#{condition.issubmit}
            </if>
            <if test="condition.isfinish!=null">
                and A.isfinish=#{condition.isfinish}
            </if>

            <if test="condition.createdBy != null">
                and A.createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null">
                and A.createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null">
                and A.updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null">
                and A.updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null">
                and A.version = #{condition.version}
            </if>
            <if test="condition.createDtFrom != null">
                and A.createdDt <![CDATA[ >=str_to_date(#{condition.createDtFrom},'%Y-%m-%d %H:%i:%S')]]>
            </if>
            <if test="condition.createDtTo != null">
                and A.createdDt <![CDATA[ <=str_to_date(#{condition.createDtTo} ,'%Y-%m-%d %H:%i:%S')]]>
            </if>

        </trim>
    </sql>

    <sql id="Base_Column_List">
        A.id, A.openid, A.orderid,A.activitiesid, A.isfollow,A.issubmit,A.isfinish,A.createdBy,A.createdDt,
        A.updatedBy, A.updatedDt, A.version, A.orderno,A.status,A.visible,A.mobile
    </sql>

    <insert id="insertSelective" parameterType="com.alfa.web.pojo.activitiesorder">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into activitiesorder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mobile!=null">
                mobile,
            </if>
            <if test="visible!=null">
                visible,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="orderno != null">
                orderno,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="orderid != null">
                orderid,
            </if>
            <if test="activitiesid != null">
                activitiesid,
            </if>
            <if test="isfollow != null">
                isfollow,
            </if>
            <if test="issubmit != null">
                issubmit,
            </if>
            <if test="isfinish != null">
                isfinish,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="createdDt != null">
                createdDt,
            </if>
            <if test="updatedBy != null">
                updatedBy,
            </if>
            <if test="updatedDt != null">
                updatedDt,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mobile!=null">
                #{mobile},
            </if>
            <if test="visible!=null">
                #{visible},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="orderno != null">
                #{orderno},
            </if>
            <if test="openid != null">
                #{openid},
            </if>
            <if test="orderid != null">
                #{orderid},
            </if>
            <if test="activitiesid != null">
                #{activitiesid},
            </if>
            <if test="isfollow != null">
                #{isfollow},
            </if>
            <if test="issubmit != null">
                #{issubmit},
            </if>
            <if test="isfinish != null">
                #{isfinish},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdDt != null">
                #{createdDt},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedDt != null">
                #{updatedDt},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
    </insert>

    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria" resultType="java.lang.Integer">

        select count(*) from activitiesorder A

        <!--活动标题-->
        <if test="condition.titleLike != null ">
            INNER JOIN moneyactivities DD ON(DD.id = A.activitiesid and DD.title like concat('%',#{condition.titleLike},'%') )
        </if>

        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <delete id="batchdeleteByPrimaryKey" parameterType="java.util.List">
        delete from activitiesorder
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.alfa.web.pojo.activitiesorder">
        update activitiesorder
        <set>
            <if test="mobile!=null">
                mobile=#{mobile},
            </if>
            <if test="visible!=null">
                visible=#{visible},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="orderno != null">
                orderno=#{orderno},
            </if>
            <if test="openid != null">
                openid=#{openid},
            </if>
            <if test="orderid != null">
                orderid=#{orderid},
            </if>
            <if test="activitiesid != null">
                activitiesid=#{activitiesid},
            </if>
            <if test="isfollow != null">
                isfollow=#{isfollow},
            </if>
            <if test="issubmit != null">
                issubmit=#{issubmit},
            </if>
            <if test="isfinish != null">
                isfinish=#{isfinish},
            </if>
            <if test="createdBy != null">
                createdBy = #{createdBy},
            </if>
            <if test="createdDt != null">
                createdDt = #{createdDt},
            </if>
            <if test="updatedBy != null">
                updatedBy = #{updatedBy},
            </if>
            <if test="updatedDt != null">
                updatedDt = #{updatedDt},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByOrderid" parameterType="com.alfa.web.pojo.activitiesorder">
        update activitiesorder
        <set>
            <if test="mobile!=null">
                mobile=#{mobile},
            </if>
            <if test="visible!=null">
                visible=#{visible},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="orderno != null">
                orderno=#{orderno},
            </if>
            <if test="openid != null">
                openid=#{openid},
            </if>
            <if test="activitiesid != null">
                activitiesid=#{activitiesid},
            </if>
            <if test="isfollow != null">
                isfollow=#{isfollow},
            </if>
            <if test="issubmit != null">
                issubmit=#{issubmit},
            </if>
            <if test="isfinish != null">
                isfinish=#{isfinish},
            </if>
            <if test="createdBy != null">
                createdBy = #{createdBy},
            </if>
            <if test="createdDt != null">
                createdDt = #{createdDt},
            </if>
            <if test="updatedBy != null">
                updatedBy = #{updatedBy},
            </if>
            <if test="updatedDt != null">
                updatedDt = #{updatedDt},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        where orderid=#{orderid}
    </update>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.alfa.web.util.pojo.Criteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>

        ,B.title,B.status as astatus

        from activitiesorder A

        left join moneyactivities B on(A.activitiesid = B.id)

        <!--活动标题-->
        <if test="condition.titleLike != null ">
            INNER JOIN moneyactivities DD ON(DD.id = A.activitiesid and DD.title like concat('%',#{condition.titleLike},'%') )
        </if>

        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit"/>
    </select>


</mapper>