<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.money.moneyactivitiesMapper">

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.moneyactivities">

        <id column="Id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="VARCHAR"/>
        <result column="totalnum" property="totalnum" jdbcType="VARCHAR"/>
        <result column="sendednum" property="sendednum" jdbcType="VARCHAR"/>
        <result column="remainingnum" property="remainingnum" jdbcType="VARCHAR"/>
        <result column="starttime" property="starttime" jdbcType="TIMESTAMP"/>
        <result column="endtime" property="endtime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="maxprice" property="maxprice" jdbcType="VARCHAR"/>
        <result column="minprice" property="minprice" jdbcType="VARCHAR"/>

        <result column="createdBy" property="createdBy" jdbcType="VARCHAR"/>
        <result column="createdDt" property="createdDt" jdbcType="TIMESTAMP"/>
        <result column="updatedBy" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updatedDt" property="updatedDt" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="BIGINT"/>

    </resultMap>


    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">

            <if test="condition.id!=null">
                and Id = #{condition.id}
            </if>
            <if test="condition.minprice!=null">
                and minprice = #{condition.minprice}
            </if>
            <if test="condition.maxprice!=null">
                and maxprice = #{condition.maxprice}
            </if>
            <if test="condition.status!=null">
                and status = #{condition.status}
            </if>
            <if test="condition.statuslist!=null">
                and status in
                <foreach collection="condition.statuslist" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="condition.titlelike!=null">
                and title like concat('%', #{condition.titlelike}, '%')
            </if>
            <if test="condition.title!=null">
                and title = #{condition.title}
            </if>

            <if test="condition.contentlike!=null">
                and content like concat('%', #{condition.contentlike}, '%')
            </if>
            <if test="condition.content!=null">
                and content=#{condition.content}
            </if>


            <if test="condition.money!=null">
                and money=#{condition.money}
            </if>
            <if test="condition.totalnum!=null">
                and totalnum=#{condition.totalnum}
            </if>
            <if test="condition.sendednum!=null">
                and sendednum=#{condition.sendednum}
            </if>
            <if test="condition.remainingnum!=null">
                and remainingnum=#{condition.remainingnum}
            </if>

            <if test="condition.starttime != null">
                and starttime = #{condition.starttime}
            </if>
            <if test="condition.endtime != null">
                and endtime = #{condition.endtime}
            </if>

            <if test="condition.createDtFrom != null">
                and starttime <![CDATA[ >=str_to_date(#{condition.createDtFrom},'%Y-%m-%d %H:%i:%S')]]>
            </if>
            <if test="condition.createDtTo != null">
                and starttime <![CDATA[ <=str_to_date(#{condition.createDtTo} ,'%Y-%m-%d %H:%i:%S')]]>
            </if>

            <if test="condition.createdBy != null">
                and createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null">
                and createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null">
                and updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null">
                and updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null">
                and version = #{condition.version}
            </if>

        </trim>
    </sql>

    <sql id="Base_Column_List">
        Id, title, content,money, totalnum,createdBy,createdDt,
        updatedBy, updatedDt, version,sendednum,remainingnum,starttime,endtime,status,maxprice,minprice
    </sql>

    <insert id="insertSelective" parameterType="com.alfa.web.pojo.moneyactivities">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into moneyactivities
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="minprice!=null">
                minprice,
            </if>
            <if test="maxprice!=null">
                maxprice,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="totalnum != null">
                totalnum,
            </if>
            <if test="sendednum != null">
                sendednum,
            </if>
            <if test="remainingnum != null">
                remainingnum,
            </if>
            <if test="starttime != null">
                starttime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="createdDt != null">
                createdDt,
            </if>
            <if test="updatedBy != null">
                updatedBy,
            </if>
            <if test="updatedDt != null">
                updatedDt,
            </if>
            <if test="version != null">
                version
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="minprice!=null">
                #{minprice},
            </if>
            <if test="maxprice!=null">
                #{maxprice},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="money != null">
                #{money},
            </if>
            <if test="totalnum != null">
                #{totalnum},
            </if>
            <if test="sendednum != null">
                #{sendednum},
            </if>
            <if test="remainingnum != null">
                #{remainingnum},
            </if>
            <if test="starttime != null">
                #{starttime},
            </if>
            <if test="endtime != null">
                #{endtime},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdDt != null">
                #{createdDt},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedDt != null">
                #{updatedDt},
            </if>
            <if test="version != null">
                #{version}
            </if>
        </trim>
    </insert>

    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria" resultType="java.lang.Integer">
        select count(*) from moneyactivities
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <delete id="batchdeleteByPrimaryKey" parameterType="java.util.List">
        delete from moneyactivities
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    
    <update id="batchStartmoneyactivitiesByPrimaryKey" parameterType="java.util.List">
        update moneyactivities
        set
           status=1
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="batchStopmoneyactivitiesByPrimaryKey" parameterType="java.util.List">
        update moneyactivities
        set
           status=2
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.alfa.web.pojo.moneyactivities">
        update moneyactivities
        <set>
            <if test="minprice!=null">
                minprice = #{minprice},
            </if>
            <if test="maxprice!=null">
                maxprice = #{maxprice},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            <if test="money != null">
                money=#{money},
            </if>
            <if test="totalnum != null">
                totalnum=#{totalnum},
            </if>
            <if test="sendednum != null">
                sendednum=#{sendednum},
            </if>
            <if test="remainingnum != null">
                remainingnum=#{remainingnum},
            </if>
            <if test="starttime != null">
                starttime=#{starttime},
            </if>
            <if test="endtime != null">
                endtime=#{endtime},
            </if>
            <if test="createdBy != null">
                createdBy = #{createdBy},
            </if>
            <if test="createdDt != null">
                createdDt = #{createdDt},
            </if>
            <if test="updatedBy != null">
                updatedBy = #{updatedBy},
            </if>
            <if test="updatedDt != null">
                updatedDt = #{updatedDt},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.alfa.web.util.pojo.Criteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from moneyactivities
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit"/>
    </select>

</mapper>