<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.weixin.VwweixinheadfileMapper">

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.Vwweixinheadfile">

        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR"/>
        <result column="isdownload" property="isdownload" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.headimgurl != null">
                and A.headimgurl = #{condition.headimgurl}
            </if>
            <if test="condition.isdownload != null">
                and A.isdownload = #{condition.isdownload}
            </if>
            <if test="condition.openid != null">
                and A.openid = #{condition.openid}
            </if>
        </trim>
    </sql>

    <sql id="Base_Column_List">
        A.openid,
        A.headimgurl,
        A.isdownload
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap"
            parameterType="com.alfa.web.util.pojo.Criteria">
        select

        <if test="distinct">
            distinct
        </if>

        <include refid="Base_Column_List"/>

        from vwweixinheadfile A

        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>

        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>

        <include refid="common.Mysql_Pagination_Limit"/>

    </select>
</mapper>