<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.sys.userregisterbehaviorMapper">

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.userregisterbehavior">

        <!--关系表基本信息-->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="userid" property="userid" jdbcType="BIGINT"/>
        <result column="registerid" property="registerid" jdbcType="BIGINT"/>

        <!--数据的创建和修改时间-->
        <result column="createdBy" property="createdBy" jdbcType="VARCHAR"/>
        <result column="createdDt" property="createdDt" jdbcType="TIMESTAMP"/>
        <result column="updatedBy" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updatedDt" property="updatedDt" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="BIGINT"/>

        <!-- 注册用户的详细信息 -->
        <result column="regrealname" property="regrealname" jdbcType="VARCHAR"/>
        <result column="regphone" property="regphone" jdbcType="VARCHAR"/>
        <result column="regaddress" property="regaddress" jdbcType="VARCHAR"/>
        <result column="regorgname" property="regorgname" jdbcType="VARCHAR"/>
        <result column="regstatus" property="regstatus" jdbcType="VARCHAR"/>

        <!--文件的基本信息-->
        <result column="fileid" property="fileid" jdbcType="BIGINT"/>
        <result column="regurl" property="regurl" jdbcType="VARCHAR"/>
        <result column="regtype" property="regtype" jdbcType="VARCHAR"/>

        <!--业务人员的详细信息-->
        <result column="businessrealname" property="businessrealname" jdbcType="VARCHAR"/>
        <result column="businessphone" property="businessphone" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">

            <if test="condition.id != null">
                and A.id = #{condition.id}
            </if>
            <if test="condition.userid != null">
                and A.userid = #{condition.userid}
            </if>

            <if test="condition.useridlist != null">
                and A.userid in
                <foreach item="item" index="index" collection="condition.useridlist" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="condition.registerid != null">
                and A.registerid = #{condition.registerid}
            </if>

            <if test="condition.registeridlist != null">
                and A.registerid in
                <foreach item="item" index="index" collection="condition.registeridlist" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="condition.createdBy != null">
                and A.createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null">
                and A.createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null">
                and A.updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null">
                and A.updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null">
                and A.version = #{condition.version}
            </if>

        </trim>
    </sql>

    <sql id="Base_Column_List">
        A.userid,A.registerid,A.id,
        A.createdBy,A.createdDt,A.updatedBy,A.updatedDt,A.version
    </sql>

    <insert id="insertSelective" parameterType="com.alfa.web.pojo.userregisterbehavior">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into userregisterbehavior
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid!=null">
                userid,
            </if>
            <if test="registerid!=null">
                registerid,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="createdDt != null">
                createdDt,
            </if>
            <if test="updatedBy != null">
                updatedBy,
            </if>
            <if test="updatedDt != null">
                updatedDt,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid!=null">
                #{userid},
            </if>
            <if test="registerid!=null">
                #{registerid},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdDt != null">
                #{createdDt},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedDt != null">
                #{updatedDt},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
    </insert>

    <select id="selectByParams" resultMap="BaseResultMap"
            parameterType="com.alfa.web.util.pojo.Criteria">
        select

        <if test="distinct">
            distinct
        </if>

        <include refid="Base_Column_List"/>

        ,C.realname as regrealname,C.phone as regphone,C.address as regaddress,C.orgname as regorgname,C.status as
        regstatus,
        B.realname as businessrealname,B.phone as businessphone,
        E.id as fileid,E.url as regurl,E.type as regtype

        from userregisterbehavior A

        <!--业务人员关联-->
        left join SysUsers B on(A.userid = B.userId)

        <!--新注册的产废单位关联-->
        left join SysUsers C on(A.registerid=C.userId)

        <!--新注册用户关联的上传文件链接-->
        left join fileinfo E on(C.fileid=E.id)

        <if test="condition.businessphone != null or condition.businessrealname != null ">
            INNER JOIN SysUsers D ON(D.userId = A.userid and (D.realname = #{condition.businessrealname} or D.phone=#{
              condition.businessphone}))
        </if>

        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>

        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>

        <include refid="common.Mysql_Pagination_Limit"/>

    </select>

    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria"
            resultType="java.lang.Integer">
        select count(*) from userregisterbehavior A

        <!--业务人员关联-->
        left join SysUsers B on(A.userid = B.userId)

        <!--新注册的产废单位关联-->
        left join SysUsers C on(A.registerid=C.userId)

        <!--新注册用户关联的上传文件链接-->
        left join fileinfo E on(C.fileid=E.id)

        <if test="condition.businessphone != null or condition.businessrealname != null ">
            INNER JOIN SysUsers D ON(D.userId = A.userid and (D.realname = #{condition.businessrealname} or D.phone=#{
              condition.businessphone}))
        </if>

        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>

    </select>

    <delete id="batchdeleteByPrimaryKey" parameterType="java.util.List">
        delete from
        userregisterbehavior
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByParams" parameterType="com.alfa.web.util.pojo.Criteria">
        delete from userregisterbehavior
        where
        <if test="condition.useridlist != null">
             userid in
            <foreach item="item" index="index" collection="condition.useridlist" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="condition.registeridlist != null">
            registerid in
            <foreach item="item" index="index" collection="condition.registeridlist" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

</mapper>