<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfa.web.dao.url.UrlFilterMapper" >

    <resultMap id="BaseResultMap" type="com.alfa.web.pojo.TotalUrlFilters" >

        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="ApiAddress" property="ApiAddress" jdbcType="VARCHAR" />
        <result column="Apiname" property="Apiname" jdbcType="VARCHAR" />
        <result column="types" property="types" jdbcType="VARCHAR" />

        <result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
        <result column="createdDt" property="createdDt" jdbcType="TIMESTAMP" />
        <result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
        <result column="updatedDt" property="updatedDt" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="BIGINT" />

    </resultMap>

    <sql id="Example_Where_Clause" >
        <trim prefix="where" prefixOverrides="and|or" >
            <if test="condition.id!=null">
                and id=#{condition.id}
            </if>
            <if test="condition.ApiAddress != null" >
                and ApiAddress = #{condition.ApiAddress}
            </if>
            <if test="condition.Apiname != null" >
                and Apiname = #{condition.Apiname}
            </if>
            <if test="condition.types != null" >
                and types = #{condition.types}
            </if>
            <if test="condition.createdBy != null" >
                and createdBy = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null" >
                and createdDt = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null" >
                and updatedBy = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null" >
                and updatedDt = #{condition.updatedDt}
            </if>
            <if test="condition.version != null" >
                and version = #{condition.version}
            </if>
        </trim>
    </sql>

    <sql id="Base_Column_List" >
        id, ApiAddress, Apiname, types, createdBy, createdDt, updatedBy, updatedDt,
        version
    </sql>

    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.alfa.web.util.pojo.Criteria" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from UrlFilter
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit" />
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from UrlFilter
        where id = #{id}
    </delete>
    
    <delete id="batchdeleteurl" parameterType="java.util.List">
        delete from UrlFilter
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>


    <insert id="insertSelective" parameterType="com.alfa.web.pojo.TotalUrlFilters" >
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into UrlFilter
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ApiAddress != null" >
                ApiAddress,
            </if>
            <if test="types != null" >
                types,
            </if>
            <if test="Apiname != null" >
                Apiname,
            </if>
            <if test="createdBy != null" >
                createdBy,
            </if>
            <if test="createdDt != null" >
                createdDt,
            </if>
            <if test="updatedBy != null" >
                updatedBy,
            </if>
            <if test="updatedDt != null" >
                updatedDt,
            </if>
            <if test="version != null" >
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ApiAddress != null" >
                #{ApiAddress},
            </if>
            <if test="types != null" >
                #{types},
            </if>
            <if test="Apiname != null" >
                #{Apiname},
            </if>
            <if test="createdBy != null" >
                #{createdBy},
            </if>
            <if test="createdDt != null" >
                #{createdDt},
            </if>
            <if test="updatedBy != null" >
                #{updatedBy},
            </if>
            <if test="updatedDt != null" >
                #{updatedDt},
            </if>
            <if test="version != null" >
                #{version},
            </if>
        </trim>
    </insert>


    <select id="countByParams" parameterType="com.alfa.web.util.pojo.Criteria" resultType="java.lang.Integer">
        select count(*) from UrlFilter
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>



</mapper>